$positive-color: #449d44;
$neutral-color: #ec971f;
$negative-color: #c9302c;

.correct-answer {
    color: $positive-color;
}

.incorrect-answer {
    color: $negative-color;
}

.right-answer-count {
    display: inline-block;
    margin: 0 1ex;
    font-weight: bold;

    &.result-c {
        color: $negative-color;
    }
    &.result-b {
        color: $neutral-color;
    }
    &.result-a {
        color: $positive-color;
    }
}
.total-answer-count {
    display: inline-block;
    margin: 0 1ex;
}

.stop-label {
    margin-right: 1ex;
}

.choice-list {
    margin: 1em 0;
}
