.user {
    float: right;
    display: flex;
    align-items: center;
    padding: 18px;

  form {
      display: inline-block;
      margin: 0 0 0 10px;
  }

  .greeting {
      display: inline-block;
  }
}
